* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

.menu {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    padding: 1rem 0;
}

.menu__navecacao___link {
    color: #667085;
    margin-right: 2rem;
    text-decoration: none;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: #667085;
    font-size: 0.9rem;
  }
  
  button#signUp {
    background-color: #8E2424;
    color: #FFF;
  }